@charset "utf-8";
/* CSS Document */
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
	text-decoration: none;
	background-color: #43A6CB;
}
#mainnav ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}
#mainnav a {
	display: block;
	float: left;
	text-align: center;
	background-color: #43A6CB;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
 #navMenu {
    margin:0;
    width:auto;
 }

  #navMenu ul {
    margin:0;
    padding:0;
    line-height:30px;
 }

  #navMenu li {
    margin:0;
    padding:0;
    list-style:none;
    float:left;
    position:relative;
/*     background:#999; */
 }

  #navMenu ul li a {
	text-align: center;
	height: 30px;
	width: 200px;
	display: block;
	color: #000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #FFF;
	text-shadow: 1px 1px 1px #000;
	margin-left: 1px;
	position: static;
	left: auto;
	top: 10px;
}

  #navMenu ul ul {
    position:absolute;
    visibility:hidden;
    top:32px;
 }

  #navMenu ul li:hover ul {
    visibility:visible;
    z-index:9999; 
 }

  /**********************************************/

  /*sets top level hover color*/

  #navMenu li:hover {
/*    background:#09F; */
 }

  /*sets link items hover color and background*/

  #navMenu ul li:hover ul li a:hover {
	color: #000;
	background-color: #43A6CB;
 }

  /* Changes text color on hover for main menu hover*/

  #navMenu a:hover {   
  color:#000;
 } 
  
 /* Contains the Float */

 .cf {
    clear:right; 
    margin:0;
    padding:0;
 }

 /* IE7 Display Fix */  
 
 #navmenu ul li {

  display: inline;     
 
 } 
