a {
	font-weight: bold;
	text-decoration: none;
}
a:link {
	color: #F800FF;
}
a:visited {
	color: #993C9F;
}
a:hover, a:active, a:focus {
	color: #5E0A60;
	text-decoration: underline;
}



figcaption {
	display: block;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
#mainnav ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}
#mainnav a {
	width: 16.667%;
	display: block;
	float: left;
	text-align: center;
	background-color: #000000;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 15px;
}
#mainnav a:hover, #mainnav a:active, #mainnav a:focus, #mainnav a.thispage {
	text-decoration: none;
	background-color: #E800FF;
}
